@font-face {
  font-family: "Raster Forge";
  src: url(../fonts/raster-forge-font/RasterForgeRegular-JpBgm.ttf) format("truetype");
}

body {
  background-color: #670000;
  transition: background-color 3s ease-in-out;
  color: #ffffff;
  font-family: "Raster Forge", monospace;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: default;
}

i {
  color: #cccccc;
}

#black_body {
  background-color: black; 
}

.fade-to-black {
  background-color: black;
}

#centre {  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

#boy_box {
  width: 500px;
  height: 420px;
  position: relative;
  color: black;
}

#boy {
  image-rendering: pixelated;
  height: 20%;
  width: 20%;
  object-fit: contain;
  position: absolute;
  align-items: center;
  bottom: -80px;
}

#socials {
  image-rendering: pixelated;
  height: 15%;
  width: 15%;
  object-fit: contain;
  position: relative;
  align-items: center;
  height: 15%;
}

#misc-image {
  image-rendering: pixelated;
  height: 20%;
  width: 20%;
  object-fit: contain;
  position: relative;
  align-items: center;
  transition: 2s;
}

#misc-image:hover {
  image-rendering: pixelated;
  height: 25%;
  width: 25%;
  object-fit: contain;
  position: relative;
  align-items: center;
  transition: 2s;
}

#grave {
  image-rendering: pixelated;
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  transition: opacity 3s ease-in-out;
}

.boy_blink{
  visibility: visible;
}

.boy_cross{
  visibility: hidden;
}

#boy_hover:hover .boy_blink {
  visibility: hidden;
}

#boy_hover:hover .boy_cross {
  visibility: visible;
}

.text_container_small_bold {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  height: 16px;
  color: #bbbbbb;
}

.text_container_small {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  height: 16px;
  color: #777777;
}

.text_container {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  min-height: 30px;
  color: #999999;
}

.text_container_large {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  min-height: 60px;
  color: #ffffff;
}

.text_container_button {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 12px 40px;
  width: 100%;
  background-color: #181818;
  color: #999999;
  border-radius: 5px;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

.text_container_button:hover {
  background-color: #222222;
  color: #dddddd;
}

.fade_out {
  opacity: 0;
}

.fade_in {
  opacity: 0.05;
}

.fade_in_full {
  opacity: 1;
}

.header {
  z-index: 100;
  padding: 14px 16px;
  text-align: center;
  background-color: #000000;
}

.header-separation {
  font-size: 2px;
  background-color: #ffffff;
}

.navigation {
  border-radius: 25px;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  transition-duration: 0.2s;
  width: 160px;
  height: 30px;
  color: #999999;
  cursor: pointer;
}

.navigation_location {
  position: sticky;
  border-radius: 25px;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  background-color: #222222;
  width: 160px;
  height: 30px;
  color: #ffffff;
}

.navigation:hover {
  background-color: #222222;
  color: #ffffff;
}