@font-face {
  font-family: "Raster Forge";
  src: url(../fonts/raster-forge-font/RasterForgeRegular-JpBgm.ttf) format("truetype");
}

body {
  background-color: #670000;
  transition: background-color 3s ease-in-out;
  color: #ffffff;
  font-family: "Raster Forge", monospace;
  padding: 0;
  margin: 0;
}

#black_body {
  background-color: black; 
}

.fade-to-black {
  background-color: black;
}

#centre {  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#boy_box {
  min-width: 320px;
  max-width: 100%;
  min-height: 320px;
  max-height: 100%;
  position: relative;
  color: black;
}

#boy {
  image-rendering: pixelated;
  height: 20%;
  width: 20%;
  object-fit: contain;
  position: absolute;
  align-items: center;
  bottom: -80px;
}

#grave {
  image-rendering: pixelated;
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  transition: opacity 3s ease-in-out;
}

.boy_blink{
  visibility: visible;
}

.boy_cross{
  visibility: hidden;
}

#boy_hover:hover .boy_blink {
  visibility: hidden;
}

#boy_hover:hover .boy_cross {
  visibility: visible;
}

.text_container {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    min-height: 60px;
    color: white;
}

.fade_out {
    opacity: 0;
}

.fade_in {
    opacity: 0.05;
}

.fade_in_full {
    opacity: 1;
}

